
.image-container{

    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 30px;

}

.header{

    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span{

color: aqua;
font-weight: 600;
}
.img-loading img{

    width: 512px;
}

.search-box{
    display: flex;
    width: 70%;
    margin-top: 1rem;
    height: 6rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-color: #264657;

}


.search-input{
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}

.search-input::placeholder{

    color: #999;
}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #00FFFF;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    height: 45px;
}

.search-text{

    padding: 1rem;
    border-radius: 1rem;
}